body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  height: 8vh;
}
a {
  text-decoration: none;
  color: #808080;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  height: 8vh;
}
.nav-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5vh;
  border-bottom: solid;
  border-width: 3px;
  border-image: linear-gradient(to right, #ffffff, #ffffff) 1;
}
.nav-element:hover {
  border-image: linear-gradient(
      to right,
      hsl(136, 65%, 51%),
      hsl(197, 75%, 46%)
    )
    1;
}
.invite {
  display: flex;
  height: 2.6em;
  width: 9em;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(197, 75%, 46%)
  );
}
.invite a {
  color: white;
}
#menu {
  display: none;
  background: none;
  border: none;
  outline: none;
}
#closebutton {
  display: none;
  background: none;
  border: none;
  outline: none;
}
#sidenav {
  display: none;
  font-size: 40px;
  font-weight: 400;
  z-index: 1;
  width: 80vw;
  left: 50%;
  margin-top: 20px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  position: absolute;
  transform: translateX(-50%);
}
#sidenav a {
  margin: 15px;
}
.first-element {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fafafa;
  background-image: url("./images/image-mockups.png"),
    url("./images/bg-intro-desktop.svg");
  background-position: right -130px top -150px, right -150px top -200px;
  background-repeat: no-repeat;
  background-size: 600px, 800px;
}
.first-element-wrapper {
  display: flex;
  width: 85vw;
}
.next-gen {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 300px;
  justify-content: center;
  align-items: flex-start;
}
.next-gen h1 {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
}
.next-gen p {
  font-size: 18px;
  color: #808080;
}
.second-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
  background-image: url("./images/image-mockups.png");
  background-position: right -130px top -550px;
  background-repeat: no-repeat;
  background-size: 600px;
}
.easybank {
  display: flex;
  height: 25vh;
  width: 85vw;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}
.easybank h2 {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
}
.easybank p {
  font-size: 18px;
  color: #808080;
}
.services {
  display: flex;
  width: 85vw;
  justify-content: space-between;
}
.services h3 {
  font-weight: 300;
  font-size: 22px;
}
.services p {
  font-size: 18px;
  color: #808080;
}
.services div {
  width: 19vw;
}
.third-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.last-heading {
  display: flex;
  height: 15vh;
  width: 85vw;
  flex-direction: column;
  justify-content: center;
}
.last-heading h1 {
  margin: 0;
  font-weight: 300;
  font-size: 40px;
}
.articles {
  display: flex;
  width: 85vw;
  justify-content: space-between;
}
.articles-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16vw;
  border-radius: 5px;
  margin-bottom: 20px;
}
.articles-elements h3 {
  margin: 0;
  cursor: pointer;
  font-weight: 500;
}
.articles-elements h3:hover {
  color: hsl(136, 65%, 51%);
}
.articles-elements p {
  color: #808080;
}
.articles-elements img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-height: 20vh;
  max-width: 16vw;
}
.currency {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-width: 16vw;
  max-width: 16vw;
  max-height: 20vh;
}
.articles-elements div {
  display: flex;
  flex-direction: column;
  width: 14vw;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #a9a9a9;
  background-color: hsl(233, 26%, 24%);
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
}

.footer-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40em;
}
.logo-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 13em;
}
.social-links {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  height: 8vh;
  width: 9em;
  align-items: center;
}

.footer-nav-elements {
  display: flex;
  height: 13vh;
  flex-direction: column;
  justify-content: space-around;
}
.footer-wrapper a {
  text-decoration: none;
  color: white;
}
.footer-nav-elements a:hover {
  color: hsl(136, 65%, 51%);
}
.copyrights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 27em;
  height: 17vh;
}
.nav-first,
.nav-second {
  color: white;
}

@media (max-width: 900px) {
  header nav,
  header .invite {
    display: none;
  }
  #menu {
    display: flex;
  }
  .first-element {
    background-image: url("./images/image-mockups.png"),
      url("./images/bg-intro-mobile.svg");
    background-position: center top -130px, center top -250px;
    background-repeat: no-repeat;
    background-size: 440px, 806px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .first-element-wrapper {
    width: unset;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25em;
    margin-bottom: 2em;
  }
  .next-gen {
    margin-top: 10%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .second-element {
    background-image: unset;
  }
  .easybank {
    height: unset;
    width: unset;
    align-items: center;
    text-align: center;
  }
  .services {
    width: unset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services div {
    width: 200px;
    text-align: center;
  }
  .last-heading {
    width: unset;
    align-items: center;
    text-align: center;
  }
  .articles {
    width: unset;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: solid;
    border-width: 3px;
    align-items: center;
  }
  .articles-elements {
    width: 39vw;
  }
  .articles-elements div {
    width: 170px;
  }
  .articles-elements img {
    max-width: 220px;
  }
  footer,
  .footer-wrapper,
  .footer-element,
  .logo-links,
  .copyrights {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-wrapper {
    width: unset;
  }
  .footer-element {
    width: unset;
    margin-top: 30px;
  }
  .copyrights {
    width: unset;
  }
  .footer-nav-elements {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
